.FavoriteContainer {
  background-color: #000;
  padding-top: 80px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.FavoriteWrapper {
  max-width: 1000px;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  grid-gap: 24px;
  padding: 50px 50px;
  justify-content: center;
}

.FavoriteH1 {
  font-size: 48px;
  /* line-weight: 1.1; */
  line-height: 1.6;
  padding: 1.5rem;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .FavoriteContainer {
    width: 100%;
  }
  .FavoriteWrapper {
    grid-template-columns: 1fr;
    width: 100%;
  }
  .FavoriteH1 {
    text-align: center;
  }
}
