.UploadContainer {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  background-color: #000;
  min-height: 100vh;
  min-width: 100vw;
}

.UploadWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.UploadH1 {
  font-size: 48px;
  /* line-weight: 1.1; */
  line-height: 1.6;
  padding: 1.5rem;
  color: #fff;
}
