.UploadContainer {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  background-color: #000;
  min-height: 100vh;
  min-width: 100vw;
}

.UploadWrapper {
  display: grid;
  place-items: center;
  grid-template-areas: 'col1 col2';
}

.UploadH1 {
  font-size: 48px;
  /* line-weight: 1.1; */
  line-height: 1.6;
  padding: 1.5rem;
  color: #fff;
  grid-area: 'col1';
}

.UploadButton {
  grid-area: 'col2';
}

@media screen and (max-width: 768px) {
  .UploadH1 {
    text-align: center;
  }
  .UploadWrapper {
    width: 100%;
    grid-template-areas: 'col1' 'col2';
  }
}
